<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="css/stylee.css">

<head>
    <meta charset="utf-8">
<title>Food App</title>
</head>

<body>
<form method="post" action="/"><label for="cityInput">calories</label>

<input type="number" name="calorie" id="cityInput">
    <button type="submit">go</button>
</form>

</body>

</html>